# Edit this file to change config

# where PalworldRcon
RCONPath=

# where PalServer directory
ServerPath=

# use swap
useSwap=1           # Check Swap to determine what to do, 0 for Mem

# server config
HOST=               # server ip address                     domain name is avilable, localhost to connect to the local server
PORT=25575          # RCON port                             it can be found in PalWorldSettings.ini
password=           # admin password                        You need to set the password in PalWorldSettings.ini, otherwise it is empty

# restart parameter
resf=5              # restart flag          -Gib            When the memory is less than restart flag, the restart script will restart the server
rest=300            # restart time          -seconds        restart time must be longer than shutdown time, delay at least 60 seconds
shutdt=120          # shutdown delay        -seconds        Online players need time to prepare exit, it will broadcast at in-game chat box
